{block breadcrumbs}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb mb-0 small">
		<li class="breadcrumb-item"><a n:href="Home:default" class="text-decoration-none">Administrace</a></li>
		<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
	</ol>
</nav>
{/block}

{block content}

	<h3 class="h3 mb-3">Administrace: Ukázkový výpis článků</h3>

	{control articlesGrid}
