# see https://doc.nette.org/en/configuring

parameters:


extensions:
	nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'mysql:host=%db.host%;port=%db.port%;dbname=%db.name%'
	user: %db.user%
	password: %db.password%


nextras.dbal:
	driver: mysqli
	host: %db.host%
	port: %db.port%
	database: %db.name%
	username: %db.user%
	password: %db.password%


nextras.orm:
	model: App\Model\Orm\Orm


latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			type: vite
			devServer: https://bestapp.ddev.site:5173


di:
	export:
		parameters: yes
		tags: no
