services:
	- App\Core\RouterFactory::createRouter
	- App\AdminCore\Presentation\Accessory\AdminMenuProvider(%admin.appName%, %admin.menu%)
	- App\AdminCore\Security\AdminAuthorizator(%admin.acl.roles%, %admin.acl.resources%, %admin.acl.allow%)
	- App\AdminCore\Security\AdminRolePermissionOverview(%admin.acl.roles%, %admin.acl.resources%, %admin.acl.allow%)
	- App\AdminCore\Security\AdminUserManager(availableRoles: %admin.acl.roles%)


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Service
			- *Manager
			- *Authenticator
			- *Logger
			- *Command
