services:
	- App\Core\RouterFactory::createRouter
	- App\Presentation\Admin\Accessory\AdminMenuProvider(%admin.appName%, %admin.menu%)


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Service
			- *Manager
			- *Authenticator
			- *Logger
			- *Command
