{block content}

	{control editUserForm}

	<br><hr>
	<p>
		<a n:href="default" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Zpět na seznam uživatelů</a>
	</p>
{/block}
